<!-- change_password.html -->
{% extends 'index.html' %}

{% block content %}
<div style="max-width: 500px; margin: 0 auto;">
    {% if user.is_authenticated %}
    <form method="post"
          style="max-width: 400px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px; background-color: rgba(255, 255, 255, 0.8);">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Сбросить пароль</button>
    </form>
    {% else %}
    {% if user_exists %}
    <form method="post"
          style="max-width: 400px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px; background-color: rgba(255, 255, 255, 0.8);">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Сбросить пароль</button>
    </form>
    {% else %}
    <div class="alert alert-danger" role="alert" style="margin-top: 20px;">
        Пользователь не найден.
    </div>
    {% endif %}
    {% endif %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}