{% load static %}
{% load i18n %}

{% blocktrans %}
Вы получили это письмо, потому что запросили сброс пароля для вашей учетной записи на сайте {{ site_name }}.
{% endblocktrans %}

{% blocktrans %}
Пожалуйста, перейдите по следующей ссылке, чтобы выбрать новый пароль:
{% endblocktrans %}

{{ reset_link }}

{% blocktrans %}
Ваше имя пользователя, если вы его забыли: {{ user.get_username }}
{% endblocktrans %}

{% blocktrans %}
Спасибо за использование нашего сайта!
{% endblocktrans %}

{% blocktrans %}
Команда сайта {{ site_name }}
{% endblocktrans %}
