{% extends 'main/index.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h2 class="card-title">Детали пользователя</h2>
        </div>
        <div class="card-body">
          <p class="card-text">Email: {{ user.email }}</p>
          <p class="card-text">Телефон: {{ user.phone }}</p>
          <p class="card-text">Аватар: {{ user.avatar }}</p>
          <p class="card-text">Страна: {{ user.country }}</p>
          <p class="card-text">Имя пользователя: {{ user.username }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
