{% extends 'index.html' %}

{% block content %}
<div class="other-background">
    <div class="client-list"
         style="max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px; background-color: rgba(255, 255, 255, 0.8);">
        <div style="text-align: center; color: rgba(0, 0, 0, 0.5);">
            {% if request.user.is_superuser %}
            <a href="{% url 'user:u_create' %}" class="btn btn-primary mt-2">Создать пользователя</a>
            {% endif %}
            <h2 class="mt-2">Список пользователей</h2>
            <ul style="list-style-type: none; padding: 0;">
                {% for user in users %}
                <li style="margin-bottom: 10px; padding: 1px; border: 1px solid #ccc; border-radius: 1px; background-color: rgba(255, 255, 255, 0.8);">
                    <div>{{user.email}}</div>
                    <div style="margin-top: 1px;">
                        {% if request.user.is_superuser %}
                        <a href="{% url 'user:u_update' user.pk %}" class="btn btn-info btn-sm">Изменить</a>
                        <a href="{% url 'user:u_detail' user.pk %}" class="btn btn-info btn-sm">Подробнее</a>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}